<h1>Add Alunos</h1> 

<form action="/alunos/add" method="POST"> 

<div class="form-group"> 

 <label for="nome">Nome Aluno</label> 

 <input type="text" class="form-control" id="nome" name="nome" required> 

 <label for="data_nascimento">Data de Nascimento</label> 

 <input type="date" class="form-control" id="data_nascimento" name="data_nascimento" required> 

</div> 

<button type="submit" class="btn btn-primary">Add</button> 

</form> 